body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.h2 {
  background-color: #e7f3fe; 
  color: black; 
  cursor: pointer; 
  padding: 18px; 
  border-left: 12px solid #2196F3; 
  text-align: left; 
  outline: none; 
  font-size: 15px; 
  max-width: 800px;
}

.output {
  background-color: #D3D3D3; 
  color: black; 
  cursor: pointer; 
  padding: 12px; 
  text-align: left; 
  outline: none; 
  font-size: 16px; 
  max-width: 800px;
}

.button {
  background-color: #D3D3D3;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
